*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* list styles */
li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #700000;
}

main section nav div ol li a{
    text-decoration: none;
    color:961A1A !important;
}
/* end */

body{
    background-color: rgb(17, 17, 17) !important;
}
.container-fluid{
    background-color: rgb(26, 26, 26) !important;
}

/* navbar button bootstrap */
.btn-outline-success{
    --bs-btn-color: #e2e2e2 !important;
    --bs-btn-border-color:  #700808 !important;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg:  #460101 !important;
    --bs-btn-hover-border-color: #871919 !important;
    --bs-btn-focus-shadow-rgb: 25,135,84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #4f0202 !important;
    --bs-btn-active-border-color: #4f0202 !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #760a0a !important;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #2a0000 !important;
    --bs-gradient: none;
}

.btn{
    --bs-btn-bg:  #700808 !important;
}

/* productos y perfil  */
.nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: rgb(199, 199, 199) !important;
    text-decoration: none;
    background: 0 0;
    border: 0;
    transition: color .15s
}

/* texto color */
body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color:  rgb(199, 199, 199) !important;
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

/* inicio sesion */
form {
    display: block;
    margin-top: 0em;
}

/* botones */
.btn-primary{
    --bs-btn-color: #fff;
    --bs-btn-bg: #c20000 !important;
    --bs-btn-border-color: #c20000 !important;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #990000 !important;
    --bs-btn-hover-border-color: #990000 !important;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #c20000 !Important;
    --bs-btn-active-border-color: #c20000 !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #650000 !important;
    --bs-btn-disabled-border-color: #650000 !Important;
}